<!DOCTYPE html>
<html>
<head>
    <title>Inventory Management</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="max-width: 100%;">
    <div class="container">
        <div th:insert="~{layout.html :: content}"></div>
        <h1>Inventory Management</h1>
        <!-- Add New Inventory Button -->
        <button type="button" onclick="openEditModal()" class="add-btn">
            <i class="fas fa-plus"></i> Add New Inventory
        </button>
        <!-- Inventory Table -->
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>User ID</th>
                    <th>Inventory Name</th>
                    <th>Location</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="inventory-table-body">
            </tbody>
        </table>

        <!-- Background Overlay -->
        <div id="modal-overlay" onclick="closeModal()"></div>

        <!-- Modal -->
        <div id="inventory-modal">
            <form onsubmit="saveInventory(event)">
                <div><h2 id="modal-title"></h2></div>
                <input type="hidden" id="inventoryId">

                <!-- User ID -->
                <label for="userId">User ID</label>
                <input type="number" id="userId" placeholder="Enter user ID" required />

                <!-- Inventory Name -->
                <label for="inventoryName">Inventory Name:</label>
                <input type="text" id="inventoryName" placeholder="Enter inventory name" required />

                <!-- Location -->
                <label for="location">Location:</label>
                <input type="text" id="location" placeholder="Enter location" required />

                <button type="submit">Save</button>
                <button type="button" class="close-btn" onclick="closeModal()">Cancel</button>
            </form>
        </div>
    </div>

    <script src="/js/inventory.js"></script>

    <div th:insert="~{layout.html :: foot}"></div>
    <!-- <footer class="text-center mt-5">
        © 2024 IMS. All rights reserved.
    </footer> -->
</body>
</html>
